*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	background-color: #34495e;
	display:flex;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
	background-repeat: no-repeat;
}

.container{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:135px;
}

.container .injustice{
	background-image: url(imagens/injust200px.png);
	left:50%;
}
.container .StreetFighter{
	background-image: url(imagens/street\ fighter\ 200px.png);
	transform: rotate(45deg);
}
.container .Tekken{
	background-image: url(imagens/tekken200px.png);
	transform:rotate(90deg);
}
.container .GuiltyGear{
	background-image: url(imagens/GuiltyGear200px.png);
	transform: rotate(135deg);
}
.container .mk{
	background-image: url(imagens/mk1200px.png);
	transform: rotate(180deg);
}
.container .Kstin{
	background-image: url(imagens/Killer\ Instinct200px.png);
	transform: rotate(225deg);
}
.container .smash{
	background-image: url(imagens/smash200px.png);
	transform: rotate(270deg);
}
.container .theking{
	background-image: url(imagens/theking.jpeg);
	transform: rotate(315deg);
}

.arrow{
	position: absolute;
	left:50%;
	top:60%;
}


#girandin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #34495e;
	background-image: url(imagens/vairodandovaiganhando.png);
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:15px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
	background-repeat: no-repeat;
}



#girandin:hover{
	background-image: url(imagens/dedomeio50px.png);
	background-repeat: no-repeat;
	text-decoration: none;
}
/*musiquinha a partir daqui*/
#musiquinha{
	position: absolute;
	top: 0%;
	left: 0%;
	align-items: center;
	margin: 15px;
}

#frase {
	font-size: 24px;
	position: absolute;
    left: 80%;
	max-width: 200px;
    min-width: 100px;
	margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.pensamento {
	font-size: 10px;
	position: absolute;
    left: 80%;
	bottom: 35%;
	max-width: 200px;
    min-width: 100px;
	margin: 0%;
	padding: 0%;
	background-color: #34495e;
	border: hidden;



}
.pensamento:hover{
	background-color: aqua;
}

h1{
	top:5%;
	position: absolute;
	font-weight:  bold;
	font-family: 'Courier New', Courier, monospace;
}

.gatin{
	right: 60%;
	top: 0%;
	position: absolute;

}
.gatin2{
	left: 60%;
	top: 0%;
	position: absolute;

}

.silvio{
	right: 0%;
	bottom: 0%;
	position: absolute;
}

.laranja{
	left: 0%;
	bottom: 10%;
	position: absolute;
}
.dan{
	position: absolute;
	left: 10%;
}